{{#preparedList.length}}
С сегодняшнего дня следующие фильмы доступны в приемлемом качестве:

{{#preparedList}}
{{#originalName}}
*{{order}}. "{{#ru}}{{ru}}{{/ru}}{{^ru}}{{en}}{{/ru}}"{{#ru}}{{#en}} ({{en}}){{/en}}{{/ru}}*
{{/originalName}}
{{#rating}}
{{#kinopoisk_score}}
    _Кинопоиск: {{kinopoisk_score}}_
{{/kinopoisk_score}}
{{#metacritic_score}}
    _Метакритик: {{metacritic_score}}{{#metacritic_user_score}} | {{metacritic_user_score}}{{/metacritic_user_score}}_
{{/metacritic_score}}
{{/rating}}
{{/preparedList}}
{{/preparedList.length}}